body{
    font-family: 'Dancing Script' , cursive;
    background-color: #FFD6E8;
    color: #333;
    margin: 0;
    padding: 0;
}
header{
    background-color: #ff80b3;
    color: aliceblue;
    text-align: center;
    padding: 40px 0;
}
